{{> header }}
        
        {{> navbar }}

        <div class="jumbotron">
            <header>
                <h1 class="display-4">Bienvenido a mi pagina, {{ nombre}}! </h1>
            </header>

            <p class="lead">Vas muy cerca no te rindas :)</p>

            <hr class="my-4">
            <p>Informe N°2</p>




        </div>

    </div>
    <br><br><br><br><br><br><br><br><br><br>

    
{{> footer }}
            